body {
    background-color: #061f2f;
}

.s-navbar {
    background-color: #27343b;
}

.s-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #27343b;
}

.s-left-column {
    text-align: center;
}

.s-left-column > img {
    max-width: 200px;
}

.s-left-column > * small {
    font-size: 0.48em;
}

.s-page-header {
    color: #99a891;
}

.s-resume-block {
    width: 100%;
}

.s-resume-block > h3 {
    color: #677a60;
}

.s-resume-block > hr {
    border-top-color: #677a60;
}

.s-heading {
    font-size: 12px;
}

.s-resume-block .s-place-name {
    font-size: 16px;
}

.s-resume-block > * i {
    color: #677a60;
}

.s-resume-block .s-hobby-name {
    font-size: 12px;
}

.s-resume-block .s-language-name {
    font-size: 12px;
}

.s-resume-block .s-progressbar {
    background-color: #677a60;
}

.s-contact-entry > a {
    color: #677a60;
}

.s-image-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-color: rgba(39, 52, 59, 0.47);
}

.s-image-gallery > * span {
    background-color: #061f2f05;
    cursor: pointer;
}

.s-image-gallery > * span:hover {
    background-color: #061f2f05;
}

.s-image-gallery > div > span > img {
    transition: transform 200ms ease-in-out;
}

.s-image-gallery > div > span > img:hover {
    transform: scale(1.05);
}

.s-image-modal > div {
    text-align: right;
    width: min-content;
}

.s-image-modal > * img {
    max-height: 85vh;
    max-width: 100vh;
}

.s-image-modal-navigation-buttons {
    position: inherit;
    height: inherit;
    width: 4vh !important;
    display: table;
}

.s-image-modal-navigation-buttons > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center !important;
    width: 100%;
    transition: background-color 200ms ease-in-out;
}

.s-image-modal-navigation-buttons > span:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {
    a.nav-link::after {
        content: ""; /* This is necessary for the pseudo element to work. */
        display: block; /* This will put the pseudo element on its own line. */
        margin: 0 auto; /* This will center the border. */
        width: 0%;
        border-bottom: 1px solid white;
        transition: width 0.2s ease-in-out;
    }

    a.nav-link.s-active-tab::after {
        width: 100%;
    }

    .s-portfolio-card {
        width: 300px;
    }
}

.nav-item > a {
    transition: color 0.2s ease-in-out;
}


@media (max-width: 576px) {
    .s-portfolio-card {
        width: 275px;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}
